<%= form_for(@score_date) do |f| %>
  <% if @score_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score_date.errors.count, "error") %> prohibited this score_date from being saved:</h2>

      <ul>
      <% @score_date.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h2>Establezca los valores (<%=h scoredate_month_to_text(@score_date)%>/<%=h @score_date.year%>)</h2>

    <% i=0 %>

  <%= f.fields_for :rawdatascores do |builder| %>
   <% if i%3 == 0 %>
        <div class="row-fluid">
    <% end %>

 <div class="span4" align="center" >  
    <%= builder.label :rawdata_id, @names[i] %>
    <% i = i+1 %>
    <%= builder.text_field :value %><br />
   </div><!-- fin span -->
    <% if i%3 == 0 %>
        </div> <!--fin row-->
      <div class="row-fluid">
    <% end %>

  <% end %>
</div>
  </br>
  <div class="row-fluid">
    <p aling="center"><%= f.submit "Establecer valores" %></p>
  </div>

<% end %>

<div class="row-fluid" align="center">
    <%= link_to @score_date.year - 1, filloperands_path(ScoreDate.find_by_year_and_month(@score_date.year - 1,12).id)%>
      <<
    <%= link_to "Enero", filloperands_path(ScoreDate.find_by_year_and_month(@score_date.year,1).id)%>
    <%= link_to "Febrero", filloperands_path(ScoreDate.find_by_year_and_month(@score_date.year,2).id)%>
    <%= link_to "Marzo", filloperands_path(ScoreDate.find_by_year_and_month(@score_date.year,3).id)%>
    <%= link_to "Abril", filloperands_path(ScoreDate.find_by_year_and_month(@score_date.year,4).id)%>
    <%= link_to "Mayo", filloperands_path(ScoreDate.find_by_year_and_month(@score_date.year,5).id)%>
    <%= link_to "Junio", filloperands_path(ScoreDate.find_by_year_and_month(@score_date.year,6).id)%>
    <%= link_to "Julio", filloperands_path(ScoreDate.find_by_year_and_month(@score_date.year,7).id)%>
    <%= link_to "Agosto", filloperands_path(ScoreDate.find_by_year_and_month(@score_date.year,8).id)%>
    <%= link_to "Septiembre", filloperands_path(ScoreDate.find_by_year_and_month(@score_date.year,9).id)%>
    <%= link_to "Octubre", filloperands_path(ScoreDate.find_by_year_and_month(@score_date.year,10).id)%>
    <%= link_to "Noviembre", filloperands_path(ScoreDate.find_by_year_and_month(@score_date.year,11).id)%>
    <%= link_to "Diciembre", filloperands_path(ScoreDate.find_by_year_and_month(@score_date.year,12).id)%>
      >>
    <%= link_to @score_date.year + 1, filloperands_path(ScoreDate.find_by_year_and_month(@score_date.year + 1,1).id)%>
</div>







