<h1>Insercion de datos por mes</h1>

<table>
  <tr>
    <th>Month</th>
    <th>Year</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @score_dates.each do |score_date| %>
  <tr>
    <td><%= score_date.month %></td>
    <td><%= score_date.year %></td>
    <td><%= link_to 'Show', score_date %></td>
    <td><%= link_to 'Edit', edit_score_date_path(score_date) %></td>
    <td><%= link_to 'Destroy', score_date, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Score date', new_score_date_path %>
