<%= form_for(@score_date) do |f| %>
  <% if @score_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score_date.errors.count, "error") %> prohibited this score_date from being saved:</h2>

      <ul>
      <% @score_date.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h2>Para cada indicador indique su base <font size="2">(<%=h scoredate_month_to_text(@score_date)%>/<%=h @score_date.year%>)</font></h2>

    <% i=0 %>

  <%= f.fields_for :indicatorscores do |builder| %>
   <% if i%3 == 0 %>
        <div class="row-fluid">
    <% end %>

    <div class="span4">    
    <%= builder.label :indicatorscores_id, @names[i] %>
    <% i = i+1 %>
    <%= builder.number_field :base %>
   </div><!-- fin span -->
    <% if i%3 == 0 %>
        </div> <!--fin row-->
<div class="row-fluid">
    <% end %>
  <% end %>
</div>
  <div class="actions">
    <%= f.submit "Establecer base"%>
  </div>

<% end %>

<h2>Elija el mes del anho 2012</h2>

<div class="row-fluid" align="center">
    <% if ScoreDate.find_by_year_and_month(@date.year - 1,12) %>
      <%= link_to @date.year - 1, setindicatorsbase_path(ScoreDate.find_by_year_and_month(@date.year - 1,12).id)%>
        <<
    <% end %>
    <%= link_to "Enero", setindicatorsbase_path(ScoreDate.find_by_year_and_month(@date.year,1).id)%>
    <%= link_to "Febrero", setindicatorsbase_path(ScoreDate.find_by_year_and_month(@date.year,2).id)%>
    <%= link_to "Marzo", setindicatorsbase_path(ScoreDate.find_by_year_and_month(@date.year,3).id)%>
    <%= link_to "Abril", setindicatorsbase_path(ScoreDate.find_by_year_and_month(@date.year,4).id)%>
    <%= link_to "Mayo", setindicatorsbase_path(ScoreDate.find_by_year_and_month(@date.year,5).id)%>
    <%= link_to "Junio", setindicatorsbase_path(ScoreDate.find_by_year_and_month(@date.year,6).id)%>
    <%= link_to "Julio", setindicatorsbase_path(ScoreDate.find_by_year_and_month(@date.year,7).id)%>
    <%= link_to "Agosto", setindicatorsbase_path(ScoreDate.find_by_year_and_month(@date.year,8).id)%>
    <%= link_to "Septiembre", setindicatorsbase_path(ScoreDate.find_by_year_and_month(@date.year,9).id)%>
    <%= link_to "Octubre", setindicatorsbase_path(ScoreDate.find_by_year_and_month(@date.year,10).id)%>
    <%= link_to "Noviembre", setindicatorsbase_path(ScoreDate.find_by_year_and_month(@date.year,11).id)%>
    <%= link_to "Diciembre", setindicatorsbase_path(ScoreDate.find_by_year_and_month(@date.year,12).id)%>
      >>
    <%= link_to @date.year + 1, setindicatorsbase_path(ScoreDate.find_by_year_and_month(@date.year + 1,1).id)%>
</div>
