<%= form_for(@objective) do |f| %>
  <% if @objective.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@objective.errors.count, "error") %> prohibited this objective from being saved:</h2>

      <ul>
      <% @objective.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :acronym, "Acronimo" %><br />
    <%= f.text_field :acronym %>
  </div>
  <div class="field">
    <%= f.label :weight, "Peso" %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :perspective_id, "Perspectiva" %><br />
    <%= f.collection_select :perspective_id, Perspective.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :redfrom, "Inicio del color rojo" %><br />
    <%= f.text_field :redfrom %>
  </div>
  <div class="field">
    <%= f.label :redfrom, "Fin del color rojo" %><br />
    <%= f.text_field :greenfrom %>
  </div>
  <div class="field">
    <%= f.label :yellowfrom, "Inicio del color amarillo" %><br />
    <%= f.text_field :yellowfrom %>
  </div>
  <div class="field">
    <%= f.label :yellowfrom, "Fin del color amarillo" %><br />
    <%= f.text_field :yellowfrom %>
  </div>
  <div class="field">
    <%= f.label :greenfrom, "Inicio de color verde" %><br />
    <%= f.text_field :greenfrom %>
  </div>
  <div class="field">
    <%= f.label :greento, "Fin del color verde" %><br />
    <%= f.text_field :greento %>
  </div>


<div class="actions">
    <%= f.submit "Editar" %>
  </div>
<% end %>
