<h2>Listado de objectivos</h2>

<table>
  <tr>
    <th>Nombre</th>
    <th>Peso</th>
    <th>Perspectiva</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @objectives.each do |objective| %>
  <tr>
    <td><%= objective.name %></td>
    <td><%= objective.weight %></td>
    <td><%= Perspective.find(objective.perspective_id).name %></td>
    <td><%= link_to 'Mostrar', objective %></td>
    <td><%= link_to 'Editar', edit_objective_path(objective) %></td>
    <td><%= link_to 'Eliminar', objective, confirm: 'Esta ud seguro?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Objetivo', new_objective_path %>
