<p id="notice"><%= notice %></p>

<h2>
  <%= @objective.name %>(<%= @objective.acronym %>)
</h2>

<p>
  <b>Ponderacion:</b>
  <%= @objective.weight %>%
</p>

<p>
  <b>Perspectiva:</b>
  <%= @objective.perspective.name %>
</p>
<p>
  <b>Rago de color rojo:</b>
  <%= @objective.redfrom%>, <%= @objective.redto%>
</p>
<p>
  <b>Rago de color amarillo:</b>
  <%= @objective.yellowfrom%>, <%= @objective.yellowto%>
</p>

<p>
  <b>Rago de color verde:</b>
  <%= @objective.greenfrom%>, <%= @objective.greento%>
</p>
<p>
  <b>Baseline</b>
  <%= @objective.baseline%>
</p>
<p>
  <b>Tendencia deseada:</b>
  Crecer	
</p>

<td><%= link_to 'Editar', edit_objective_path(@objective) %></td>

 
