<p id="notice"><%= notice %></p>

<h2>
  <%= @objective.name %>
</h2>

<p>
  <b>Perspectiva:</b>
  <%= Perspective.find(@objective.perspective_id).name %>
</p>
<div class="row">
<h2>Indicadores</h2>
  <% @objective.indicators.size.times{|i| %>  
        <div class="span5" id='chart<%= i%>'>
            <div class="row" id='thechart<%= i%>'>
                <%tag = "thechart"+i.to_s%>
                <%= render_chart @charts[i][0], tag %>
            </div>
            <div class="row" id=thelink<%= i%>'>
                <%= link_to 'Explorar', @charts[i][1] %>
            </div>
        </div>
  <% } %>
</div>
<!--<div class="row">
    <div class="span10" id='chart'></div>
    <%= render_chart(@chart, 'chart') %>
</div-->


<%= link_to 'Edit', edit_objective_path(@objective) %> |
<%= link_to 'Back', objectives_path %>
