<%= form_for(@objective_score) do |f| %>
  <% if @objective_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@objective_score.errors.count, "error") %> prohibited this objective_score from being saved:</h2>

      <ul>
      <% @objective_score.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :objective_id %><br />
    <%= f.number_field :objective_id %>
  </div>
  <div class="field">
    <%= f.label :scoredate_id %><br />
    <%= f.number_field :scoredate_id %>
  </div>
  <div class="field">
    <%= f.label :score %><br />
    <%= f.text_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
