<style>
am:link { 
  color: #FFFFFF;
}
a:hover { 
  background-color: transparent;
}
a:active { 
  color: #FFFFFF;
}
table:td{text-align:center !important;}
</style>

<div class="row">
  <div class="span11" align="left">
    <h2><%=h @objective.name%> (<%=h scoredate_month_to_text(@date)%>/<%=h @date.year%>)</h2>
    <h3>Unidades: <%=h @objective.measurement%></h3>
  </div>
  <div class="span1" align="left">
    <%= link_to image_tag("info.png", :size => "48x30"), @objective, :class => 'brand' %>
  </div>
</div>


  


<div class="row-fluid">
    <div class="span4" align="center">
        <div id='chart'></div>
        <%= render_chart(@chart, 'chart') %>
    </div>

<div class="span8" align="center">
	<table class="table table-bordered">
	  <thead>
    	<tr>
      	<th width="11%">Unidades</th>
        <th title="Definicion de actual">Valor</th>
        <th title="Definicion de Meta">Meta</th>
        <th title="Definicion de Avance">Avance</th>
        <th title="Definicion de Base">Base</th>
        <th title="Definicion de Comp">Comp.</th>
      </tr>
    </thead>
      <tbody>
      	<tr>
          	<td align = "center">%</td>
            <td class = "tdc"><%= @currentobjective.score %></td>
            <td align = "center"><%= @currentobjective.goal %></td>
            <td align = "center"><%= @currentobjective.progress %></td>
            <td align = "center"><%= @currentobjective.baseline %></td>
            <td align = "center"><%= @currentobjective.growth %></td>
          </tr>
      </tbody>
  </table>
<!--   <table width="100%">
    <tr>
      <th title="Definicion de actual">Valor</th>
      <th title="Definicion de Meta">Meta</th>
      <th title="Definicion de Avance">Avance</th>
      <th title="Definicion de Base">Base</th>
      <th title="Definicion de Comp">Comp.</th>
    <tr>
    <tr>
      <td align = "center"><%= @currentobjective.score %></td>
      <td align = "center"><%= @currentobjective.goal %></td>
      <td align = "center"><%= @currentobjective.progress %></td>
      <td align = "center"><%= @currentobjective.baseline %></td>
      <td align = "center"><%= @currentobjective.growth %></td>
    </tr> 
  </table>
</br>
   <div class="row-fluid" align="left">        
      <h3>Indicadores: (<%= link_to "Ver juntos", exploreobjectives_path() %> )</h3>
        <OL TYPE="1">
          <% @currentindicators.each do |ci|%>
            <LI><p><%= link_to ci.indicator.name, indicatoratdate_path(ci.indicator_id,ci.scoredate_id), :class => indicatorscorestate(ci)%></p>
          <% end %>
        </OL>
    </div> -->

  <table class="table table-bordered" width="100%">
    <tr>
      <!--<th width="11%">Indicador <%= link_to "Ver en dashboard", showdashboard_path("objective", "current", @objective, @date.id), :class => objectiveState(@objective,@date), :style=>'color:#FFFFFF;'%></th>-->
      <th width="40%"><%= link_to "Indicador", showdashboard_path("objective", "current", @objective, @date.id), :style=>'color:#00489b;'%></th>
      <th title="Definicion de actual">Valor</th>
      <th title="Definicion de Meta">Meta</th>
      <th title="Definicion de Avance">Avance</th>
      <th title="Definicion de Base">Base</th>
      <th title="Definicion de Comp">Comp.</th>
      <th title="Definicion de Peso">Peso</th>
    <tr>

    <% @currentindicators.each do |ci|%>
      <tr>
        <td align = "center"><%= link_to ci.indicator.acronym, indicatoratdate_path(ci.indicator_id,ci.scoredate_id), :class => indicatorscorestate(ci), :style=>'color:#FFFFFF;'%></td>
        <td align = "center"><%= ci.score %></td>
        <td align = "center"><%= ci.goal %></td>
        <td align = "center"><%= ci.progress %></td>
        <td align = "center"><%= ci.baseline %></td>
        <td align = "center"><%= ci.growth %></td>
        <td align = "center"><%= ci.indicator.weight %></td>
      </tr>         
     <% end %>
  </table>


</div>
</div>
</br>
<h2>Tendencia de los ultimos <%=h @trend.to_s %> meses</h2>
<% if @trend == "3" %>  
  <h3><%= link_to "Ver 6 meses", objectiveatdate_path(@objective, @date, 6)%> | <%= link_to "Ver 12 meses", objectiveatdate_path(@objective, @date, 12)%></h3>
<% end %>
<% if @trend == "6" %>  
  <h3><%= link_to "Ver 3 meses", objectiveatdate_path(@objective, @date, 3)%> | <%= link_to "Ver 12 meses", objectiveatdate_path(@objective, @date, 12)%></h3>
<% end %>
<% if @trend == "12" %>  
  <h3><%= link_to "Ver 3 meses", objectiveatdate_path(@objective, @date, 3)%> | <%= link_to "Ver 6 meses", objectiveatdate_path(@objective, @date, 6)%></h3>
<% end %>


<div class="row-fluid">
  <div id='linechart'></div>
  <%= render_chart @linechart, 'linechart' %>
</div>
</br>
<%= link_to "Informacion", @objective%>

</br>
<div class="row-fluid" align="center">
    <%= link_to @date.year - 1, objectiveatdate_path(@objective, ScoreDate.find_by_year_and_month(@date.year - 1,12).id)%>
      <<
    <%= link_to "Enero", objectiveatdate_path(@objective, ScoreDate.find_by_year_and_month(@date.year,1).id)%>
    <%= link_to "Febrero", objectiveatdate_path(@objective, ScoreDate.find_by_year_and_month(@date.year,2).id)%>
    <%= link_to "Marzo", objectiveatdate_path(@objective, ScoreDate.find_by_year_and_month(@date.year,3).id)%>
    <%= link_to "Abril", objectiveatdate_path(@objective, ScoreDate.find_by_year_and_month(@date.year,4).id)%>
    <%= link_to "Mayo", objectiveatdate_path(@objective, ScoreDate.find_by_year_and_month(@date.year,5).id)%>
    <%= link_to "Junio", objectiveatdate_path(@objective, ScoreDate.find_by_year_and_month(@date.year,6).id)%>
    <%= link_to "Julio", objectiveatdate_path(@objective, ScoreDate.find_by_year_and_month(@date.year,7).id)%>
    <%= link_to "Agosto", objectiveatdate_path(@objective, ScoreDate.find_by_year_and_month(@date.year,8).id)%>
    <%= link_to "Septiembre", objectiveatdate_path(@objective, ScoreDate.find_by_year_and_month(@date.year,9).id)%>
    <%= link_to "Octubre", objectiveatdate_path(@objective, ScoreDate.find_by_year_and_month(@date.year,10).id)%>
    <%= link_to "Noviembre", objectiveatdate_path(@objective, ScoreDate.find_by_year_and_month(@date.year,11).id)%>
    <%= link_to "Diciembre", objectiveatdate_path(@objective, ScoreDate.find_by_year_and_month(@date.year,12).id)%>
      >>
    <%= link_to @date.year + 1, objectiveatdate_path(@objective, ScoreDate.find_by_year_and_month(@date.year + 1,1).id)%>
</div>

