<h1>Listing perspective_scores</h1>

<table>
  <tr>
    <th>Perspective</th>
    <th>Date</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @perspective_scores.each do |perspective_score| %>
  <tr>
    <td><%= perspective_score.perspective_id %></td>
    <td><%= perspective_score.date_id %></td>
    <td><%= perspective_score.score %></td>
    <td><%= link_to 'Show', perspective_score %></td>
    <td><%= link_to 'Edit', edit_perspective_score_path(perspective_score) %></td>
    <td><%= link_to 'Destroy', perspective_score, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Perspective score', new_perspective_score_path %>
