<h2>Inicio de Sesion</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email, "Correo" %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password, "Clave" %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me, "Recordarme" %></div>
  <% end -%>

  <div><%= f.submit "Iniciar sesion" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
