<h1>Listing perspectives</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Weight</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @perspectives.each do |perspective| %>
  <tr>
    <td><%= perspective.name %></td>
    <td><%= perspective.weight %></td>
    <td><%= link_to 'Show', perspective %></td>
    <td><%= link_to 'Edit', edit_perspective_path(perspective) %></td>
    <td><%= link_to 'Destroy', perspective, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<table>
  <tr>
    <th>Perspectivas</th>
    <th></th>
  </tr>

  <tr>
    <td><div id='chart'></div>
        <%= render_chart @charts[0], 'chart' %>
        <%= link_to 'Explorar', @perspectives[0] %></td>
    <td><div id='chart1'></div>
        <%= render_chart @charts[1], 'chart1' %>
        <%= link_to 'Explorar', @perspectives[1] %></td>
  </tr>
  <tr>
    <td><div id='chart2'></div>
        <%= render_chart @charts[2], 'chart2' %>
        <%= link_to 'Explorar', @perspectives[2] %></td>
    <td><div id='chart3'></div>
        <%= render_chart @charts[3], 'chart3' %>
        <%= link_to 'Explorar', @perspectives[3] %></td>
  </tr>

</table>

<div id='chart'></div>
<%= render_chart @charts[0], 'chart' %>

<br />

<%= link_to 'New Perspective', new_perspective_path %>
