<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @perspective.name %>
</p>

<p>
  <b>Weight:</b>
  <%= @perspective.weight %>
</p>

<p>
  <b>Score:</b>
  <%= @perspective.score %>
</p>


<%= link_to 'Edit', edit_perspective_path(@perspective) %> |
<%= link_to 'Back', perspectives_path %>
