<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @perspective.name %>
</p>

<p>
  <b>Weight:</b>
  <%= @perspective.weight %>
</p>

<table>
  <tr>
    <th>Objetivos</th>
    <th></th>
  </tr>

  <tr>
    <td><div id='chart'></div>
        <%= render_chart @charts[0], 'chart' %>
        <%= link_to 'Explorar', @objs[0] %></td>
    <td><div id='chart1'></div>
        <%= render_chart @charts[1], 'chart1' %></td>
  </tr>
  <tr>
    <td><div id='chart2'></div>
        <%= render_chart @charts[2], 'chart2' %></td>
    <td><div id='chart3'></div>
        <%= render_chart @charts[3], 'chart3' %></td>
  </tr>

</table>


<%= link_to 'Edit', edit_perspective_path(@perspective) %> |
<%= link_to 'Back', perspectives_path %>
