<h1>Mapa estrategico</h1>
</br>
<div class="row-fluid">
  <div class="span12">
    

<ul class="breadcrumb">
  <li>
    <h2>Perspectiva Financiera</h2>
  </li>
</ul>
        <div class="row-fluid">
          <div class="span4" align="center">
            <div class="alert alert-block">
              <a class="close" data-dismiss="alert" href="#"></a>
              <h4 class="alert-heading">Maximizar el valor del grupo</h4>
            </div>
          </div><!--span4-->

          <div class="span4" align="center">
            <div class="alert alert-success">
              <a class="close" data-dismiss="alert" href="#"></a>
              <h4 class="alert-heading">Lograr crecimiento sostenido de ingresos con mezcla LA y Vzla</h4>
            </div>
          </div>

          <div class="span4" align="center">
            <div class="alert alert-error">
              <a class="close" data-dismiss="alert" href="#"></a>
              <h4 class="alert-heading">Optimizar las inversiones</h4>
            </div>
          </div>
        </div><!--row-->

        <div class="row-fluid">
          <div class="span6" align="center">
            <div class="alert alert-error">
              <a class="close" data-dismiss="alert" href="#"></a>
              <h4 class="alert-heading">Tener costos competitivos a nivel internacional</h4>
            </div>
          </div>

          <div class="span6" align="center">
            <div class="alert alert-success">
              <a class="close" data-dismiss="alert" href="#"></a>
              <h4 class="alert-heading">Disminuir dependencia de Vzla</h4>
            </div>
          </div>

        </div><!--row-->

</br></br></br>
<ul class="breadcrumb">
  <li>
    <h2>Perspectiva Clientes</h2>
  </li>
</ul>



        <div class="row-fluid">
          <div class="span4" align="center">
              <%= link_to "Crecer en contratacion de servicios por cliente a nivel regional", demoshowobjectives_path(), :class => 'btn btn-warning'%>
          </div><!--span4-->

          <div class="span4" align="center">
              <%= link_to "Incrementar participación en los mercados Regionales Objetivo", demoshowobjectives_path(), :class => 'btn btn-success'%>
          </div>

          <div class="span4" align="center">
              <%= link_to "Optimizar relaciones con nuestros clientes y los clientes de nuestros clientes", demoshowobjectives_path(), :class => 'btn btn-danger'%>
        </div><!--row-->
</br></br></br>

        <div class="row-fluid">
          <div class="span12" align="center">
              <%= link_to "Compromiso como Aliados de Negocio", demoshowobjectives_path(), :class => 'btn btn-warning'%>
          </div>
        </div><!--row-->

</br></br></br>
<ul class="breadcrumb">
  <li>
    <h2>Perspectiva Procesos internos</h2>
  </li>
</ul>
        <div class="row-fluid">
          <div class="span4" align="center">
            <div class="alert alert-block">
              <a class="close" data-dismiss="alert" href="#"></a>
              <h4 class="alert-heading">Maximizar el valor del grupo</h4>
            </div>
          </div><!--span4-->

          <div class="span4" align="center">
            <div class="alert alert-success">
              <a class="close" data-dismiss="alert" href="#"></a>
              <h4 class="alert-heading">Lograr crecimiento sostenido de ingresos con mezcla LA y Vzla</h4>
            </div>
          </div>

          <div class="span4" align="center">
            <div class="alert alert-error">
              <a class="close" data-dismiss="alert" href="#"></a>
              <h4 class="alert-heading">Optimizar las inversiones</h4>
            </div>
          </div>
        </div><!--row-->

        <div class="row-fluid">
          <div class="span6" align="center">
            <div class="alert alert-error">
              <a class="close" data-dismiss="alert" href="#"></a>
              <h4 class="alert-heading">Tener costos competitivos a nivel internacional</h4>
            </div>
          </div>

          <div class="span6" align="center">
            <div class="alert alert-success">
              <a class="close" data-dismiss="alert" href="#"></a>
              <h4 class="alert-heading">Disminuir dependencia de Vzla</h4>
            </div>
          </div>

        </div><!--row-->


</br></br></br>
<ul class="breadcrumb">
  <li>
    <h2>Perspectiva Desarrollo y crecimiento</h2>
  </li>
</ul>

        <div class="row-fluid">
          <div class="span4" align="center">
              <%= link_to "Crecer en contratacion de servicios por cliente a nivel regional", demoshowobjectives_path(), :class => 'btn btn-warning'%>
          </div><!--span4-->

          <div class="span4" align="center">
              <%= link_to "Incrementar participación en los mercados Regionales Objetivo", demoshowobjectives_path(), :class => 'btn btn-success'%>
          </div>

          <div class="span4" align="center">
              <%= link_to "Optimizar relaciones con nuestros clientes y los clientes de nuestros clientes", demoshowobjectives_path(), :class => 'btn btn-danger'%>
        </div><!--row-->
</br></br></br>

        <div class="row-fluid">
          <div class="span12" align="center">
              <%= link_to "Compromiso como Aliados de Negocio", demoshowobjectives_path(), :class => 'btn btn-warning'%>
          </div>
        </div><!--row-->


  </div>
</div>


