<%= form_for(@indicator) do |f| %>
  <% if @indicator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@indicator.errors.count, "error") %> prohibited this indicator from being saved:</h2>

      <ul>
      <% @indicator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="field">
        <%= f.label "Operacion" %><br />
        <%=h collection_select(:indicator, :operation_id, Operation.all, :id, :name, :prompt => true) %>
  </div>

<p>
  <h3>Objetivos que ayuda a obtener</h3>
</p>

  <% for objective in Objective.all %>  
        <div>  
          <%= check_box_tag "indicator[objective_ids][]", objective.id, @indicator.objectives.include?(objective) %>  
          <%= objective.name %>  
        </div>  
  <% end %>

<p>
  <h3>Indicadores que lo influencian</h3>
</p>
<table>
  <tr>
    <th>Name</th>
  </tr>

<% @indicator.sons.each do |indicator| %>
  <tr>
    <td><%= indicator.name %></td>
  </tr>
<% end %>
</table>
    
<p>
  <h3>Seleccione otro indicador que influencie al actual: </h3>
</p>

<%=h collection_select(:son, :id, Indicator.all, :id, :name, :prompt => true) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
