<%= form_for(@indicator) do |f| %>
  <% if @indicator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@indicator.errors.count, "error") %> prohibited this indicator from being saved:</h2>

      <ul>
      <% @indicator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :objective_id %><br />
    <%= f.collection_select :objective_id, Objective.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
