<p id="notice"><%= notice %></p>
<h2 align="center">Informacion de Indicador</h2>

<br>

<div class="row-fluid">
  <div class="span6">
    <table class="table table-bordered table-striped"> 
      <tr>
       	<th colspan="2" width="50%"><%= @indicator.name %></th>
      </tr>
      <tr>
	      <td width="50%">Ponderacion:</td>
        <td width="50%"><%= @indicator.weight %>%</td>
      </tr>
      <tr>
	      <td width="50%">Formula:</td>
        <td width="50%"><%= @indicator.formula %>%</td>
      </tr>
      <% if @indicator.operation %>
        <tr>
          <td>Operacion:</td>
          <td><%= @indicator.operation.name %></td>
        </tr>
      <% end %>

      <% if @indicator.objective %>
        <tr>
          <td>Objetivo:</td>
          <td><%= @indicator.objective.name %></td>
        </tr>
      <% end %>

    </table>
  </div>

  <% if @indicator.sons.size > 0 %>
    <div class="span6">  
      <table class="table table-bordered table-striped"> 
        <tr>
         	<th colspan="2" width="50%">Listado de Indicadores que lo influencian</th>
        </tr>
        <tr>
          <th>Nombre</th>
          <th>Desligar</th>
        </tr>
        <% @indicator.sons.each do |son| %>
          <tr>
            <td><%= son.name %></td>
            <td><%= link_to 'Desligar', emancipate_path(@indicator, son) %></td>
          </tr>
        <% end %>

      </table>
    </div>
  <% end %>
</div>



<%= link_to 'Editar', edit_indicator_path(@indicator) %> |
<%= link_to 'Volver', indicators_path %>
