<p id="notice"><%= notice %></p>

<h2>
  <%= @indicator.name %>
</h2>

<p>
  <b>Ponderacion:</b>
  <%= @indicator.weight %>
</p>

<p>
  <b>Formula:</b>
  <%= @indicator.formula %>
</p>

<% if @indicator.operation %>
  <p>
    <b>Operacion:</b>
    <%= @indicator.operation.name %>
  </p>
<% end %>

<p>
  <b>Objetivo:</b>
  <%= @indicator.objective.name %>
</p>


<% if @indicator.sons.size > 0 %>
  <p>
    <p>Listado de Indicadores que lo influencian</td></p>
  </p>


  <table>
    <tr>
      <th>Name</th>
      <th>Weight</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @indicator.sons.each do |son| %>
    <tr>
      <td><%= son.name %></td>
      <td><%= son.weight %></td>
      <% if son.today_score <= 25 %>
          <td><span class="label label-important"><%= link_to 'Mostrar', son %></span></td>
      <% end %>
      <% if son.today_score > 25 && son.today_score < 75 %>
          <td><span class="label label-warning"><%= link_to 'Mostrar', son %></span></td>
      <% end %>
      <% if son.today_score >= 75 %>
          <td><span class="label label-success"><%= link_to 'Mostrar', son %></span></td>
      <% end %>
      <td><%= link_to 'Desligar', emancipate_path(@indicator, son) %></td>
    </tr>
  <% end %>
  </table>
<% end %>
<%= link_to 'Editar', edit_indicator_path(@indicator) %> |
<%= link_to 'Volver', indicators_path %>
