<%= form_for(@indicator_score) do |f| %>
  <% if @indicator_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@indicator_score.errors.count, "error") %> prohibited this indicator_score from being saved:</h2>

      <ul>
      <% @indicator_score.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <p>
    <b>Indicador:</b>
    <%= @indicator_score.indicator.name %>
  </p>

  <p>
    <b>Mes:</b>
    <%=h scoredate_month_to_text(@date)%>/<%=h @date.year%>
  </p>

<div class="row-fluid" align="center">
  <div class="span3" align="center">
    <%= f.label :score, "Medicion"%><br />
    <%= f.text_field :score %>
  </div>
  <div class="span3" align="center">
    <%= f.label :goal, "Meta" %><br />
    <%= f.text_field :goal %>
  </div>
  <div class="span3" align="center">
    <%= f.label :iniciorojo, "Inicio Rojo" %><br />
    <%= f.text_field :redfrom %>
  </div>
  <div class="span3" align="center">
    <%= f.label :finrojo, "Fin Rojo" %><br />
    <%= f.text_field :redto %>
  </div>

</div>
<div class="row-fluid" align="center">

  <div class="span3" align="center">
    <%= f.label :inicioamarillo, "Inicio Amarillo" %><br />
    <%= f.text_field :yellowfrom %>
  </div>
  <div class="span3" align="center">
    <%= f.label :finamarillo, "Fin Amarillo" %><br />
    <%= f.text_field :yellowto %>
  </div>
  <div class="span3" align="center">
    <%= f.label :inicioverde, "Inicio Verde" %><br />
    <%= f.text_field :greenfrom %>
  </div>
  <div class="span3" align="center">
    <%= f.label :finverde, "Fin Verde" %><br />
    <%= f.text_field :greento %>
  </div>

</div>

<div class="row-fluid" align="center">
  <div class="span4" align="center">
    <%= f.label :progress, "Avance" %><br />
    <%= f.text_field :progress %>
  </div>
  <div class="span4" align="center">
    <%= f.label :base, "Base" %><br />
    <%= f.text_field :baseline %>
  </div>
  <div class="span4" align="center">
    <%= f.label :growth, "Comparacion" %><br />
    <%= f.text_field :growth %>
  </div>

</div>

</br>

  <div class="row-fluid" align="center">
    <%= f.submit "Confirmar"%>
  </div>
<% end %>
