<h2>Listado de mediciones por Indicador</h2>

<table>
  <tr>
    <th>Indicador</th>
    <th>Fecha</th>
    <th></th>
    <th></th>
  </tr>

<% @indicator_scores.each do |indicator_score| %>
  <tr>
    <td><%= Indicator.find(indicator_score.indicator_id).name %></td>
    <td><%= scoredate_month_to_text(indicator_score.scoredate)%>/<%=h indicator_score.scoredate.year%></td>
    <td><%= link_to 'Mostrar', indicator_score %></td>
    <td><%= link_to 'Editar', edit_indicator_score_path(indicator_score) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Indicator score', new_indicator_score_path %>

