<h2><%=h @indicator.name%> (<%=h scoredate_month_to_text(@date)%>/<%=h @date.year%>)</h2>
<h3>Medido en: <%=h @indicator.unit%></h3>

<div class="row">
    <div class="span4" align="center">
        <div id='chart'></div>
        <%= render_chart(@chart, 'chart') %>
    </div>

    <div class="span8" align="center">

  <table width="100%">
    <tr>
      <th title="Definicion de actual">Actual</th>
      <th title="Definicion de Meta">Meta</th>
      <th title="Definicion de Avance">Avance</th>
      <th title="Definicion de Base">Base</th>
      <th title="Definicion de Comp">Comp.</th>
    <tr>
    <tr>
      <td align = "center"><%= @currentindicator.score.round(2) %></td>
      <td align = "center"><%= @currentindicator.goal.round(2) %></td>
      <td align = "center"><%= @currentindicator.progress.round(2) %></td>
      <td align = "center"><%= @currentindicator.baseline.round(2) %></td>
      <td align = "center"><%= @currentindicator.growth.round(2) %></td>
    </tr> 
  </table>


    </br>
    <div class="row" align="left">        
      <h3>Indicadores: (<%= link_to "Ver juntos", exploreobjectives_path() %> )</h3>
        <OL TYPE="1">
          <% @currentsons.each do |cs|%>
            <LI><p><%= link_to cs.indicator.name, cs, :class => indicatorscorestate(ci)%></p>
          <% end %>
        </OL>
    </div>
</div>
</div>
</br>
<h2>Tendencia de los ultimos 6 meses</h2>

<div class="row">
  <div id='linechart'></div>
  <%= render_chart @linechart, 'linechart' %>
</div>

<div class="row-fluid" align="center">
    <%= link_to @date.year - 1, indicatoratdate_path(@indicator, ScoreDate.find_by_year_and_month(@date.year - 1,12).id)%>
      <<
    <%= link_to "Enero", indicatoratdate_path(@indicator, ScoreDate.find_by_year_and_month(@date.year,1).id)%>
    <%= link_to "Febrero", indicatoratdate_path(@indicator, ScoreDate.find_by_year_and_month(@date.year,2).id)%>
    <%= link_to "Marzo", indicatoratdate_path(@indicator, ScoreDate.find_by_year_and_month(@date.year,3).id)%>
    <%= link_to "Abril", indicatoratdate_path(@indicator, ScoreDate.find_by_year_and_month(@date.year,4).id)%>
    <%= link_to "Mayo", indicatoratdate_path(@indicator, ScoreDate.find_by_year_and_month(@date.year,5).id)%>
    <%= link_to "Junio", indicatoratdate_path(@indicator, ScoreDate.find_by_year_and_month(@date.year,6).id)%>
    <%= link_to "Julio", indicatoratdate_path(@indicator, ScoreDate.find_by_year_and_month(@date.year,7).id)%>
    <%= link_to "Agosto", indicatoratdate_path(@indicator, ScoreDate.find_by_year_and_month(@date.year,8).id)%>
    <%= link_to "Septiembre", indicatoratdate_path(@indicator, ScoreDate.find_by_year_and_month(@date.year,9).id)%>
    <%= link_to "Octubre", indicatoratdate_path(@indicator, ScoreDate.find_by_year_and_month(@date.year,10).id)%>
    <%= link_to "Noviembre", indicatoratdate_path(@indicator, ScoreDate.find_by_year_and_month(@date.year,11).id)%>
    <%= link_to "Diciembre", indicatoratdate_path(@indicator, ScoreDate.find_by_year_and_month(@date.year,12).id)%>
      >>
    <%= link_to @date.year + 1, indicatoratdate_path(@indicator, ScoreDate.find_by_year_and_month(@date.year + 1,1).id)%>
</div>
