<%= link_to "BMO", root_path, :class => 'brand' %>
<ul class="nav">
  
<% if user_signed_in? %>
  <li>
    <%= link_to "Mapa Estrategico", strategymap_path()%>      
  </li>
  <li>
    <%= link_to "Vector", vectoratdate_path(1,6)%>      
  </li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">Indicadores<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to "Scores", setindicatorsscores_path(currentScoreDate.id)%></li>
      <li><%= link_to "Metas", setindicatorsgoals_path(currentScoreDate.id)%></li>
      <li><%= link_to "Crecimiento", setindicatorsgrowth_path(currentScoreDate.id)%></li>
      <li><%= link_to "Base", setindicatorsbase_path(currentScoreDate.id)%></li>
    </ul>
  </li>


<!--
  <li class="dropdown">
    <a href="#"
          class="dropdown-toggle"
          data-toggle="dropdown">
          Perspectivas
          <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
       <%= link_to "Introducir Datos", setperspectivesscores_path(1)%> 
    </ul>
  </li>

  <li class="dropdown">
    <a href="#"
          class="dropdown-toggle"
          data-toggle="dropdown">
          Objetivos
          <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
       <%= link_to "Introducir Datos", setobjectivesscores_path(1)%> 
    </ul>
  </li>

  <li class="dropdown">
    <a href="#"
          class="dropdown-toggle"
          data-toggle="dropdown">
          Indicadores
          <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
       <%= link_to "Introducir Datos", setindicatorsscores_path(1)%>
       <%= link_to "Establecer metas", setindicatorsgoals_path(1)%>  
    </ul>
  </li> 
--> 

  <li>
    <%= link_to "Definir valores", filloperands_path(1)%>
  </li>
  <li>
    <%= link_to "Operaciones", operations_path%>
  </li>
  <li>
    <%= link_to "Datos", raw_data_path%>
  </li>
  <li>
    <%= link_to 'Crear Usuario', new_user_registration_path %>
  </li>  
  <li>
    <%= link_to 'Cerrar sesion', destroy_user_session_path, :method=>'delete' %>        
  </li>
<% else %> <!-- User not login-->
    <li>
    <%= link_to 'Iniciar sesion', new_user_session_path %>  
    </li>
<% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Editar cuenta', edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Administracion', users_path %>
      </li>
    <% end %>
  <% else %>

  <% end %>
</ul>
